@import url(/fonts);
*{
     margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: #001;
}
a{
    color:#001;
    text-decoration: none;
}
#logo
{
    font-size: 1.5rem;
font-weight: bold;
}
#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    
}
#menu
{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a
{
    display: block;
    padding: .5rem;

}
#btn-mobile{
    display: none;
}
/*-------------------baaner normal ------------------------------*/
.baaner{
   
    position: relative;
    width:100%;
    height: 65ch;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.baaner .imgBaaner{
    width:150px;
    height: 150px;
    margin: 10px;
    border-radius: 50ch;
    border-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border: 5px solid;
    -webkit-transition:  all .01s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .01s cubic-bezier(.190, 1.000, .220, 1.000);
}
#img1{
    animation: voa 1s infinite;
    animation-direction: alternate-reverse;
}
/*---------------------------------------animação-------------------------------------------*/
@keyframes voa{
    0%{
        transform: translateY(-10ch);
        transform: translateX(-10ch);

    }
    
    100%{
        transform: translateX(10ch);
        transform: translateY(10ch);
    }
              
}
@media (max-width:600px)
{
    /*-------------------------menu-----------------*/
    #btn-mobile
    {
        display: block;
    }
    #menu
    {
        display: block;
        
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 1500px;
        visibility: hidden;
        overflow-y: hidden;

    } 
    #nav.active #menu
    {
        z-index: 1;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a 
    {
        padding: 1rem 0;
        margin:0 1rem;
        border-bottom: 2px solid rgba(0, 0,0, .05);
    }  
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger
    {
        display: block;
      width: 20px;
      border-top:2px solid ;
    }
    #hamburger::after , #hamburger::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background:currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger
    {
       border-top-color: transparent;
    }
    #nav.active #hamburger::before
    {
       transform: rotate(135deg);
    }
    #nav.active #hamburger::after
    {
        transform: rotate(-135deg);
        top: -7px;

    }
    /**/


}