@import url(/fonts);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

/*----------------configuiraçã------------*/
.cursiva {
    font-family: 'Fuzzy Bubbles', cursive;
}

body {
    background: #08080A;
}

a {
    color: #001;
    text-decoration: none;
}
a:hover{
    color: #00313f;
}

#logo {
    position: relative;
    display: flex;
    font-size: 1.5rem;

}
#logo img{
    width: 5ch;
    height: 5ch;
}

#header {
    position: relative;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    z-index: 3;
   

}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;

}

#btn-mobile {
    display: none;
}

/*-------------------baaner normal ------------------------------*/
.baaner {
    position: relative;
    width: 100%;
    height: 85ch;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.baaner img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
#imgBanneCelular{
    display: none;
}

.baaner h2 {
    position: absolute;
    text-align: center;
    font-size: 10ch;
    z-index: 2;
    color: rgb(253, 252, 252);
   /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  */  
  
}
.baaner   hr{
    position: relative;
     color: #fff;
     font-size: 10ch;
    z-index: 2;
    
}



.baaner p {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1em;
    color: #fff;
}

/*----------------produtos----------------------------*/
.produtos{
    background-image: linear-gradient(0, #00313f 0, #002d37 7.14%, #00292f 14.29%, #022327 21.43%, #061e1e 28.57%, #051716 35.71%, #030e0d 42.86%, #000000 50%, #000000 57.14%, #000000 64.29%, #000000 71.43%, #000000 78.57%, #000000 85.71%, #000000 92.86%, #000000 100%);
}
/*------------------------------------roda pé----------------------------------------------------*/
footer{
    position: relative;
    width: 100%;
    background-color:#fff;
    color: #001;
    height: 25ch;   
    z-index: 3;
    border-color: #001;
    border: 1px solid;
   
}
footer p{
    cursor: pointer;
}
footer p:hover{
    color: #F15;
}
#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    box-sizing: border-box;
    color: #001;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.178);
}
#map{
    margin-left: 2vw;
    margin-top: 5vh;
    width: 30vw;
    height: 25vh;
    border-radius: 30px;
    position: relative;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.377);
}
#info{
    margin-right: 5vw;
    margin-top: 5vh;
    width: 25vw;
   
    text-align: justify;
}
.midias{
    
    width: 100%;
    display: inline-flex;
}
.midias img{
    width: 4ch;
    cursor: pointer;
    
}

/*---------------------------------------animação-------------------------------------------*/
@keyframes voa {
    0% {
        transform: translateY(-10ch);
        transform: translateX(-10ch);

    }

    100% {
        transform: translateX(10ch);
        transform: translateY(10ch);
    }

}
@media (max-width:900px) {
    .baaner h2{
        font-size: 5ch;
    }
}

@media (max-width:600px) {

    /*-------------------------menu-----------------*/
    #btn-mobile {
        display: block;
    }
#header h2 {
    position: relative;
    top: 1ch;
font-size: 25px;

}

    #menu {
        display: block;

        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        transition: .6s;
        z-index: 5;
        visibility: hidden;
        overflow-y: hidden;

    }

    #nav.active #menu {
        z-index: 3;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;

    }

    /*------baner----------*/
   #imgBanneCelular{
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0.5;
   }
    #imgBanner{
        display: none;
    }

}